<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LIVECHEK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LIVECHEK</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-justify-content-center ion-align-items-center ion-text-center" style="margin-top: 100%;">
    <ion-button (click)="start()" color="primary">Start Inspection</ion-button>
  </div>
</ion-content>
